{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %}index{% endblock %}

{% block content %}
    <h2>آمار</h2>
    <p>{% total_posts %}: تعداد پست </p>
    <br>
    <p>{% total_comment %}: تعداد کامنت </p>
    <br>
    <p>{% last_post_date %}: تاریخ آخرین پست  </p>
    <hr>
    {% latest_posts 5 %}

    <h2>محبوب ترین پست ها</h2>
    {% most_popular_posts as pop_posts %}
    {% for post in pop_posts %}
        <br>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}: with {{ post.comment_count }} comments</a>

    {% endfor %}
{% endblock %}
